:root {
    --primary: #202124;
    --secundary: #171717;
    --border-color: #5f6368;
    --color-black-1: #252525;
    --color-gray-1: ##303134;
    --color-gray-2: #5f6368;
    --color-white-1: #fff;
    --color-white-2: #e1e1e1;
    --color-blue-1: #4285f4;
    --color-blue-2: #3b78e7;

    --mobile-font: 'Roboto', sans-serif;
    --desktop-font: 'Arial', sans-serif;
    --normal-size: 13px;
    --small-size: 12px;
    --grey-color: #757575;
    --grey-color2: #5f6368;
    --blue-border-color: #3367d6;
    --white-color: #fff;
    --white-color2: #f2f2f2;

}